{% extends 'base.html' %}



{% block content %}

    <h1 style="text-align:center;">Wellcome</h1>
    <br> </br>
    <h2 style="text-align: center;">Safe Point</h2>
    <br> </br>
    <img width="1115" height="450" src="https://i.imgur.com/ik9bNCM.gif" alt="">
     <br> </br>
     <p>"Once, the Lord of Light banished Dark, and all that stemmed from humanity. And men assumed a fleeting form. These are the roots of our world. Men are props on the stage of life, and no matter how tender, how exquisite... A lie will remain a lie!"</p>
    <body style="background-color: rgb(59, 158, 219)">

        
        
        </body>
{% endblock %}